<div class="root">
  <mat-toolbar color="primary">
    <h1 style="margin-bottom: 0px;" translate>HOME.TITLE</h1>
  </mat-toolbar>
  <h4 translate>HOME.LG</h4>
  <ul>
    <li><a routerLinkLang="en" translate>LANG.EN</a></li>
    <li><a routerLinkLang="jp" translate>LANG.JP</a></li>
  </ul>
  <ul>
    <li><a routerLink translate>MENU.HOME</a></li>
    <li><a routerLink="/about" translate>MENU.ABOUT</a></li>
  </ul>
  <mat-icon class="tab-icon" svgIcon="information"></mat-icon>
  <router-outlet></router-outlet>
</div>