doctype html
html(lang="en")
  head
    title Fusing Angular
    meta(charset="utf-8")
    //- meta(http-equiv="Content-Security-Policy" content= csp)
    meta(name="title" content="Fusing Angular")
    meta(name="description" content="Fusing Angular")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(name="apple-mobile-web-app-title" content="Fusing Angular")
    meta(name="application-name" content="Fusing Angular")
    link(rel="manifest" href="./manifest.json")
    link(rel="stylesheet" href="./assets/css/global.css" type="text/css")
  body.body.mat-typography
    if isElectron
      pm-app
      | $bundles
    else
      pm-site
      | $bundles
