doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="Content-Security-Policy" content= csp)
    title Fusing Angular
    description Fusing Angular
    link(rel="manifest" href="manifest.json")
    link(rel="stylesheet" href="css/global.css" type="text/css")
  body
    app-root
    | $bundles

