doctype html
html(lang="en")
  head
    title Fusing Angular
    meta(charset="utf-8")
    //- meta(http-equiv="Content-Security-Policy" content= csp)
    meta(name="title" content="Fusing Angular")
    meta(name="description" content="Fusing Angular")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="manifest" href="manifest.json")
    link(rel="stylesheet" href="assets/css/global.css" type="text/css")
  body.body.mat-typography
    pm-app
    | $bundles
