doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Fusing Angular
    meta(http-equiv="Content-Security-Policy" content= csp)
    meta(name="Content-Security-Policy" content="Fusing Angular")
    meta(name="title" content="Typescript Starter")
    meta(name="description" content="Typescript Starter")
    link(rel="manifest" href="manifest.json")
    link(rel="stylesheet" href="css/global.css" type="text/css")
  body.mat-typography
    app-root
    | $bundles

